[Unit]
Description=Labgrid Exporter
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=0

[Service]
Environment="PYTHONUNBUFFERED=1"
# Should contain LG_COORDINATOR configuration
EnvironmentFile=-/etc/environment
ExecStart=/path/to/labgrid/venv/bin/labgrid-exporter /etc/labgrid/exporter.yaml
Restart=always
RestartSec=30
DynamicUser=yes
# Adjust to your distribution (most often "dialout" or "tty")
SupplementaryGroups=dialout plugdev

[Install]
WantedBy=multi-user.target
