*.pyc
*__pycache__
*console_main
.*.swp
.cache
/MANIFEST
.tox
/.#tox.ini
/.eggs/README.txt
*.egg
*.egg-info
/venv*
/build
/doc/.build
/doc/modules
/.coverage
/dist
/.pytest_cache/
/htmlcov/
/labgrid/_version.py
/dockerfiles/staging/coordinator/*
!/dockerfiles/staging/coordinator/places_example.yaml
/.idea
