language: python
python:
  - "3.5"
  - "3.6"
before_install:
  - sudo apt-get -qq update
  - sudo apt-get install -y libow-dev
install:
  - pip install -r travis-requirements.txt
  - pip install -e .
script:
  - pytest --cov-config .coveragerc --cov=labgrid
  - python setup.py build_sphinx
  - make -C man all
  - git --no-pager diff --exit-code
after_success:
  - codecov
