PyYAML
attrs>=16.3
crossbar==17.3.1
pexpect
pyserial>=3.3
pytest
pytest-cache
pytest-cov
pytest-isort
pytest-mock
pytest-pylint
pytest-runner
onewire>=0.2
pyudev
yapf
requests==2.13.0
autobahn==0.18.1
-r doc-requirements.txt
