pytest-cov==3.0.0
pytest-isort==2.0.0
pytest-mock==3.6.1
pytest-pylint==0.18.0
pytest-dependency==0.5.1
yapf==0.31.0
psutil==5.8.0
-r doc-requirements.txt
-r crossbar-requirements.txt
-r onewire-requirements.txt
-r modbus-requirements.txt
-r snmp-requirements.txt
-r xena-requirements.txt
-r graph-requirements.txt
-r docker-requirements.txt
-r pyvisa-requirements.txt
-r vxi11-requirements.txt
-r mqtt-requirements.txt
-r kasa-requirements.txt
