attrs==21.2.0
jinja2==3.0.2
packaging==21.0
pexpect==4.8.0
https://github.com/labgrid-project/pyserial/archive/v3.4.0.1.zip#egg=pyserial
pytest==6.2.5
pyudev==0.22.0
requests==2.26.0
xmodem==0.4.6
autobahn==21.3.1
PyYAML==5.4.1
ansicolors==1.1.8
pyusb==1.2.1
six>=1.13.0
