#!/usr/bin/make -f

%:
	dh $@ --with python-virtualenv

override_dh_shlibs:
	dh_shlibs -l/opt

override_dh_virtualenv:
	dh_virtualenv \
		--python /usr/bin/python3 \
		--builtin-venv \
		--preinstall 'setuptools>=38.0.0' \
		--requirements deb-requirements.txt \
		--extra-pip-arg='--no-binary' \
		--extra-pip-arg='cffi,numpy'
