name: docker build

on:
  push:
    branches: [ master ]

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install system dependencies
      run: |
        sudo apt install -yq python3-pip
        python3 -m pip install --upgrade pip setuptools wheel
    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Build docker image
      run: |
        ./dockerfiles/build.sh
        docker-compose -f dockerfiles/staging/docker-compose.yml up --exit-code-from client client
        docker-compose -f dockerfiles/staging/docker-compose.yml down
        docker images
        docker tag labgrid-client ${{ secrets.DOCKERHUB_PREFIX }}client
        docker tag labgrid-exporter ${{ secrets.DOCKERHUB_PREFIX }}exporter
        docker tag labgrid-coordinator ${{ secrets.DOCKERHUB_PREFIX }}coordinator
        docker push ${{ secrets.DOCKERHUB_PREFIX }}client
        docker push ${{ secrets.DOCKERHUB_PREFIX }}exporter
        docker push ${{ secrets.DOCKERHUB_PREFIX }}coordinator
        docker images
